.center-pagination {
	text-align: center;
}

.pagination {
	width: 100vw;
  display: inline-block;
  padding-left: 0;
  margin: auto;
  margin-bottom: 10px;
}

.pagination li {
	display: inline-block;
}

.pagination a {
	padding: 6px 12px;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
  font-family: Lato, helvetica, sans-serif;
}

a {color:#21365C;}      /* unvisited link */
a:hover {color:#86736F;}  /* mouse over link */

.article a ,.preview a {
  position: relative;
  color: #21365C;
  z-index: 1;
  text-decoration: underline;
}

.article-title a, .category a {
  text-decoration: none;
}

.article a:hover ,.preview a:hover {color: #86736F}  /* mouse over link */
